h2{
    display: inline;
    background-color:blue;
    color: beige;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}
tbody tr td{
    display: block;
    background-color: darkblue;
    color:aliceblue;
    margin: 15px;
}